
.list-item__center[data-v-ff0f596c]{margin-left:0 16px
}
.list-item__center>ons-input[data-v-ff0f596c]{width:100%
}

.gif-area[data-v-29399930]{text-align:center
}
.plus[data-v-29399930]{color:#0076ff
}
.minus[data-v-29399930]{color:tomato
}

.list-item__center[data-v-ae7f7862]{margin-left:0 16px
}
.btn[data-v-ae7f7862]{margin:6px 1%;text-align:center
}
.next-btn[data-v-ae7f7862]{width:98%
}
.add-btn[data-v-ae7f7862],.remove-btn[data-v-ae7f7862]{background-color:none;border:1px solid;float:left;width:48%
}
.remove-btn[data-v-ae7f7862]{border-color:tomato;color:tomato
}
